/ReleaseNotes.txt
/VERSION
/dbadmin.cfg
/dbtools/
/dbtypes.cfg
/default.cfg
/highlighter.cfg
/log4j.properties
/lookandfeel.properties
/sqlrunner/
/sqlrunner.cmd
/sqlrunner.icns
/sqlrunner.ico
/sqlrunner.sh
/talend_dbmsids.properties
/user_dbtypes.cfg
/wordfile.txt
